.section_8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F1F5F9;
}


.grid_8{
    height: 100%;
    background-color: #475569;
    padding-left: 40px;
    padding-right: 40px;
    width: 1440px;
    min-width: 1440px;
}

.name_8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 173.33px;
    height: 35px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.title_8{
    padding-top: 15px;
    width: 137px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content{
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;
gap: 8px;
width: 173.33px;
height: 46px;
}

.container_name_8{
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    max-width: 108px;
    min-width: 108px;
   
}

.footer{
    height: 96px;
    background-color: #475569;
    padding-left: 20px;
    padding-right: 20px;
    width: 1440px;
    min-width: 1440px;
}

.l{
    display: flex;
    justify-content: start;
    align-items: center;
}
.r{
    display: flex;
    justify-content: end;
    align-items: center;
  
}

.content_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 8px;
    width: 100px;
    height: 46px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #E2E8F0;
    flex: none;
    order: 1;
    flex-grow: 0;
    }

.over{
    width: 100%;
}
