.section_61{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 80px;
    width: 100%;
    background: #F1F5F9;
}


.grid_61{
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1440px;
    min-width: 1440px;
    height: 500px;
}










